# Flask Configuration
SECRET_KEY=your-secret-key-here
FLASK_DEBUG=True

# PostgreSQL Configuration
POSTGRES_USER=myblog_user
POSTGRES_PASSWORD=secure_password
POSTGRES_DB=myblog

DOCKER_CONTAINER_DB_NAME=container_name

# Docker Configuration
PROJECT_ROOT=.

