{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Edit Post Form -->
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Редактирование поста</h3>

            <!-- Form for Editing Post -->
            <form method="POST" action="{{ url_for('edit_post', post_id=post.id) }}">
                {{ form.hidden_tag() }}  <!-- CSRF token for form security -->

                <div class="form-group">
                    <label for="title">Заголовок</label>
                    {{ form.title(class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="preview">Превью</label>
                    {{ form.preview(class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="body">Основное содержание</label>
                    {{ form.body(class="form-control", id="body", rows="10") }}
                </div>

                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
